.b248x60{width:260px;height:68px;display:block;overflow:hidden;}
.b255x326{width:255px!important;height:326px!important;display:block;}
.b255x255{width:255px!important;height:255px!important;display:block;}
.b255x67{width:255px!important;height:67px!important;display:block;text-align:center;font-size:16px;line-height:67px;vertical-align:middle;}
.b255x4{width:255px!important;height:4px!important;display:block;background: #ccc;}
.b506x200{width:506px!important;height:200px!important;display:block;}
.b300x100{width:300px!important;height:100px!important;display:block;}
.b90x90{width:90px!important;height:90px!important;display:block;text-align:center;font-size:14px;line-height:90px;vertical-align:middle;}
.b200x90{width:200px!important;height:90px!important;display:block;text-align:center;font-size:14px;}
.b255x150{width:255px!important;height:150px!important;line-height:150px;display:block;text-align:center;font-size:14px;}
.b816x216{width:816px!important;height:216px!important;line-height:216px;display:block;text-align:center;font-size:14px;}
.b348x100{width:348px!important;height:100px!important;line-height:100px;display:block;text-align:center;font-size:14px;}
.b100x100{width:100px!important;height:100px!important;line-height:100px;display:block;text-align:center;font-size:14px;}
.b386x326{width:386px!important;height:326px!important;line-height:326px;display:block;text-align:center;font-size:20px;}


.b280x163{width:280px!important;height:163px!important;line-height:163px;display:block;text-align:center;font-size:14px;}
.b148x163{width:148px!important;height:163px!important;display:block;text-align:center;font-size:14px;vertical-align:middle;}
.b240x163{width:240px!important;height:163px!important;display:block;text-align:center;font-size:14px;}
.b163x163{width:163px!important;height:163px!important;display:block;text-align:center;font-size:14px;}
.b164x163{width:164px!important;height:163px!important;display:block;text-align:center;font-size:14px;}
.b326x163{width:326px!important;height:163px!important;display:block;text-align:center;font-size:14px;}
.b256x163{width:256px!important;height:163px!important;display:block;text-align:center;font-size:14px;}
.b320x163{width:320px!important;height:163px!important;display:block;text-align:center;font-size:14px;}
.b200x163{width:200px!important;height:163px!important;display:block;text-align:center;font-size:14px;}

.b308x326{width:308px!important;height:326px!important;display:block;text-align:center;font-size:14px;}
.b244x158{width:244px!important;height:158px!important;display:block;text-align:center;font-size:14px;}


.b816x255{width:816px!important;height:255px!important;display:block;}
.b816x67{width:816px!important;height:67px!important;display:block;text-align:center;font-size:16px;line-height:70px;vertical-align:middle;}
.b816x4{width:816px!important;height:4px!important;display:block;}

.b395x150{width:395px!important;height:150px!important;line-height:150px!important;text-align:center;display:block;font-size:16px;line-height:70px;vertical-align:middle;}
.b230x230{width:230px!important;height:230px!important;line-height:230px;display:block;text-align:center;font-size:20px;}


.a0{background:#a0a0a0;}