@charset "gb2312";
* { margin:0px; padding:0px; list-style:none;}
html,body,table,tr,td,div,input,select { font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;}
body { background:url(body_background.gif) top repeat-x; /*background-attachment:fixed;*/}

/*!important;padding:16px 0px 0px 15px;*/

a:link { text-decoration:none; color:#333333;}
a:visited { text-decoration:none; color:#333333;}
a:hover { text-decoration:underline; color:#ff6600;}
a:active { text-decoration:underline; color:#ff6600;}


/* 除IE6浏览器的通用方法 */
.ie6fixedTL{position:fixed;left:0;top:0}
.ie6fixedBR{position:fixed;right:0;bottom:0}
/* IE6浏览器的特有方法 */
/*div.temp {position:absolute;right:expression(eval(document.documentElement.scrollRight));top:expression(eval(document.documentElement.scrollTop))}*/
*html div.temp{ z-index:9999; position:absolute;right:expression(eval(document.documentElement.scrollRight+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginRight,10)||0)-(parseInt(this.currentStyle.marginLeft,10)||0));top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}


div.temp { background:url(notes_background.gif) #ffffff top repeat-x; border:1px solid #c3ddf4; border-top:3px solid #c3ddf4; padding:3px 8px 8px 8px; width:310px; position:fixed; bottom:1px; right:1px; color:#555555; font-family:微软雅黑; font-size:10px; -webkit-text-size-adjust:none; z-index:99999;}
div.temp h2 { overflow:hidden; zoom:1; clear:both; border-bottom:1px dashed #cccccc; margin-bottom:5px;}
div.temp h2 a { float:right; font-size:14px;}
div.temp h2 img { vertical-align:middle; margin-right:5px; height:10px;}
div.temp h2 span { float:left; color:#0067b5; font-size:12px; padding-bottom:4px;}
div.temp a:link { text-decoration:none; color:#555555; -webkit-text-size-adjust:none; font-size:11px; font-family:微软雅黑;}
div.temp a:visited { text-decoration:none; color:#555555; -webkit-text-size-adjust:none; font-size:11px; font-family:微软雅黑;}
div.temp a:hover { text-decoration:none; color:#ff6600; -webkit-text-size-adjust:none; font-size:11px; font-family:微软雅黑;}
div.temp a:active { text-decoration:none; color:#ff6600; -webkit-text-size-adjust:none; font-size:11px; font-family:微软雅黑;}
div.temp span { font-weight:bold;}

.sep1 { height:1px; line-height:1px; margin:0px; padding:0px; list-style:none; font-size:1px;}
.sep2 { height:2px; line-height:2px; margin:0px; padding:0px; list-style:none; font-size:2px;}
.sep3 { height:3px; line-height:3px; margin:0px; padding:0px; list-style:none; font-size:3px;}
.sep4 { height:4px; line-height:4px; margin:0px; padding:0px; list-style:none; font-size:4px;}
.sep5 { height:5px; line-height:5px; margin:0px; padding:0px; list-style:none; font-size:5px;}
.sep6 { height:6px; line-height:6px; margin:0px; padding:0px; list-style:none; font-size:6px;}
.sep7 { height:7px; line-height:7px; margin:0px; padding:0px; list-style:none; font-size:7px;}
.sep8 { height:8px; line-height:8px; margin:0px; padding:0px; list-style:none; font-size:8px;}
.sep9 { height:9px; line-height:9px; margin:0px; padding:0px; list-style:none; font-size:9px;}
.sep10 { height:10px; line-height:10px; margin:0px; padding:0px; list-style:none; font-size:10px;}

/*万能FLOAT闭合开始*/
.clearfix {
    display: inline-block;
}
/*\*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/**/
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*万能FLOAT闭合结束*/

.common_frame { width:980px; padding:0px; margin:auto; overflow:hidden; zoom:1;}


/**/
.common_frame_max { float:right; width:700px; overflow:hidden; zoom:1;}
.common_frame_min { float:left ; width:250px; overflow:hidden; zoom:1;}
/*----------*/
.common_box_max { background:url(common_box_max.gif) repeat-y; overflow:hidden;}
.common_box_max h2 { background:url(common_box_max_header.gif) top no-repeat; height:40px; padding:0px 15px; margin:0px; list-style:none; color:#E42222; font-size:14px; -moz-text-shadow:1px 1px 1px #ddd; -webkit-text-shadow:1px 1px 1px #ddd; text-shadow:1px 1px 1px #ddd;}
.common_box_max h2 span.name { float:left; background:url(common_box_max_icon.gif) left center no-repeat; padding-left:15px; margin-top:15px; _padding-top:3px; +padding-top:3px; padding-top:3px\9; display:inline-block; overflow:hidden; zoom:1;}
.common_box_max h2 span.text { float:left; padding-left:5px; margin-top:20px; font-size:10px; -webkit-text-size-adjust:none;}
.common_box_max h2 a.more { float:right; background:url(common_box_max_more.gif) no-repeat; width:47px; height:14px; display:inline-block; overflow:hidden; zoom:1; margin-top:15px;}
.common_box_max div.content { padding:0px 15px;}
.common_box_max div.footer { background:url(common_box_max_footer.gif) bottom no-repeat; height:16px; padding:0px 15px; margin:0px; list-style:none;}
/*----------*/
.common_box_min { background:url(common_box_min.gif) repeat-y; overflow:hidden; zoom:1;}
.common_box_min h2 { background:url(common_box_min_header.gif) top no-repeat; height:40px; padding:0px 15px; margin:0px; list-style:none; color:#E42222; font-size:14px; -moz-text-shadow:1px 1px 1px #ddd; -webkit-text-shadow:1px 1px 1px #ddd; text-shadow:1px 1px 1px #ddd;}
.common_box_min h2 span.name { float:left; background:url(common_box_min_icon.gif) left center no-repeat; padding-left:15px; margin-top:15px; _padding-top:3px; +padding-top:3px; padding-top:3px\9; display:inline-block; overflow:hidden; zoom:1;}
.common_box_min h2 span.text { float:left; padding-left:5px; margin-top:20px; font-size:10px; -webkit-text-size-adjust:none;}
.common_box_min h2 a.more { float:right; background:url(common_box_min_more.gif) no-repeat; width:47px; height:14px; display:inline-block; overflow:hidden; zoom:1; margin-top:15px;}
.common_box_min div.content { padding:0px 9px;}
.common_box_min div.footer { background:url(common_box_min_footer.gif) bottom no-repeat; height:16px; padding:0px 15px; margin:0px; list-style:none;}
/*----------*/
.common_item { border-left:1px solid #fafafa; border-right:1px solid #fafafa; padding:10px 5px 10px 5px; margin:0px; overflow:hidden; zoom:1; clear:both;}
.common_item li { height:30px; line-height:30px; color:#818181; font-weight:bold; font-family:微软雅黑,Verdana,Geneva,sans-serif;}
.common_item li a { color:#818181; text-decoration:none; font-family:微软雅黑, Verdana, Geneva, sans-serif;}
.common_item li span { font-size:10px; -webkit-text-size-adjust:none; font-weight:normal; font-family:Verdana, Geneva, sans-serif; padding-left:5px;}
.common_item li.separ { background:url(item_separ.gif) #FFFFFF center repeat-x; height:5px; line-height:5px; font-size:5px;}
.common_item li.lists_max { background:url(item_icon_max.gif) #F7F7F7 left center no-repeat; background-position:15px 10px;  padding-left:30px; font-size:14px;}
.common_item li.lists_min { background:url(item_icon_min.gif) #F7F7F7 left center no-repeat; background-position:32px 11px; padding-left:46px; font-size:12px;}
.common_item li.lists_sml { background:url(item_icon_sml.gif) #F7F7F7 left center no-repeat; background-position:46px 12px; padding-left:58px; font-size:12px;}
.common_item li.hover_max { background:url(item_icon_max_hover.gif) #eaeaea left center no-repeat; background-position:15px 10px;padding-left:30px; font-size:14px; color:#f76a15;}
.common_item li.hover_max a { color:#f76a15;}
.common_item li.hover_min { background:url(item_icon_min_hover.gif) #eaeaea left center no-repeat; background-position:32px 11px;padding-left:46px; font-size:12px; color:#f76a15;}
.common_item li.hover_min a { color:#f76a15;}
.common_item li.hover_sml { background:url(item_icon_sml_hover.gif) #eaeaea left center no-repeat; background-position:46px 12px;padding-left:58px; font-size:12px; color:#f76a15;}
.common_item li.hover_sml a { color:#f76a15;}
/**/

/**/
.home_frame_max { float:left; width:660px; overflow:hidden; zoom:1;}
.home_frame_min { float:right; width:285px; overflow:hidden; zoom:1;}
/*----------*/
.home_box_max { background:url(home_box_max_background.gif) repeat-y; overflow:hidden;}
.home_box_max h2 { background:url(home_box_max_background_header.gif) top no-repeat; height:40px; padding:0px 15px; margin:0px; list-style:none; color:#E42222; font-size:14px; -moz-text-shadow:1px 1px 1px #ddd; -webkit-text-shadow:1px 1px 1px #ddd; text-shadow:1px 1px 1px #ddd;}
.home_box_max h2 span.name { float:left; background:url(home_box_max_icon.gif) left center no-repeat; padding-left:15px; margin-top:15px; _padding-top:3px; +padding-top:3px; padding-top:3px\9; display:inline-block; overflow:hidden; zoom:1;}
.home_box_max h2 span.text { float:left; padding-left:5px; margin-top:20px; font-size:10px; -webkit-text-size-adjust:none;}
.home_box_max h2 a.more { float:right; background:url(home_box_max_more.gif) no-repeat; width:47px; height:14px; display:inline-block; overflow:hidden; zoom:1; margin-top:15px;}
.home_box_max div.main { padding:0px 15px;}
.home_box_max div.foot { background:url(home_box_max_background_footer.gif) bottom no-repeat; height:16px; padding:0px 15px; margin:0px; list-style:none;}
/*----------*/
.home_box_min { background:url(home_box_min_background.gif) repeat-y; overflow:hidden;}
.home_box_min h2 { background:url(home_box_min_background_header.gif) top no-repeat; height:40px; padding:0px 15px; margin:0px; list-style:none; color:#E42222; font-size:14px; -moz-text-shadow:1px 1px 1px #ddd; -webkit-text-shadow:1px 1px 1px #ddd; text-shadow:1px 1px 1px #ddd;}
.home_box_min h2 span.name { float:left; background:url(home_box_min_icon.gif) left center no-repeat; padding-left:15px; margin-top:15px; _padding-top:3px; +padding-top:3px; padding-top:3px\9; display:inline-block; overflow:hidden; zoom:1;}
.home_box_min h2 span.text { float:left; padding-left:5px; margin-top:20px; font-size:10px; -webkit-text-size-adjust:none;}
.home_box_min h2 a.more { float:right; background:url(home_box_min_more.gif) no-repeat; width:47px; height:14px; display:inline-block; overflow:hidden; zoom:1; margin-top:15px;}
.home_box_min div.main { padding:0px 15px;}
.home_box_min div.foot { background:url(home_box_min_background_footer.gif) bottom no-repeat; height:16px; padding:0px 15px; margin:0px; list-style:none;}
/*----------*/
.home_box_all { background:url(home_box_all_background.gif) repeat-y; overflow:hidden;}
.home_box_all h2 { background:url(home_box_all_background_header.gif) top no-repeat; height:40px; padding:0px 15px; margin:0px; list-style:none; color:#E42222; font-size:14px; -moz-text-shadow:1px 1px 1px #ddd; -webkit-text-shadow:1px 1px 1px #ddd; text-shadow:1px 1px 1px #ddd;}
.home_box_all h2 span.name { float:left; background:url(home_box_all_icon.gif) left center no-repeat; padding-left:15px; margin-top:15px; _padding-top:3px; +padding-top:3px; padding-top:3px\9; display:inline-block; overflow:hidden; zoom:1;}
.home_box_all h2 span.text { float:left; padding-left:5px; margin-top:20px; font-size:10px; -webkit-text-size-adjust:none;}
.home_box_all h2 a.more { float:right; background:url(home_box_all_more.gif) no-repeat; width:47px; height:14px; display:inline-block; overflow:hidden; zoom:1; margin-top:15px;}
.home_box_all div.main { background:url(home_box_all_main.gif) center no-repeat; padding:0px 30px; height:160px;}
.home_box_all div.foot { background:url(home_box_all_background_footer.gif) bottom no-repeat; height:16px; padding:0px 15px; margin:0px; list-style:none;}
/**/






.item_a { border:1px solid #c3ddf4; background:#f6fcff; padding:1px; overflow:hidden; zoom:1; clear:both;}
.item_a h2 { background:url(item_a_title.gif) repeat-x; height:28px; line-height:28px; overflow:hidden; zoom:1; clear:both;}
.item_a h2 img { vertical-align:middle; margin-right:8px;}
.item_a h2 .name { float:left; padding-left:10px; color:#0067b5; font-size:14px; font-weight:bold; font-family:微软雅黑;}
.item_a h2 .more { float:right; padding-right:10px; color:#6e777c; font-size:12px; font-weight:normal; font-family:宋体;}
.item_a .main { background:url(item_a_main.gif) #ffffff top repeat-x; padding:5px 5px;}

.item_b { border:1px solid #c3ddf4; border-top:3px solid #c3ddf4; background:url(item_b.gif) top repeat-x;}
.item_b h2 { height:28px; line-height:28px; overflow:hidden; zoom:1; clear:both;}
.item_b h2 img { vertical-align:middle; margin-right:8px;}
.item_b h2 .name { float:left; padding-left:10px; color:#0067b5; font-size:14px; font-weight:bold; font-family:微软雅黑;}
.item_b h2 .name em { font-size:10px; font-weight:normal; -webkit-text-size-adjust:none; font-style:normal; font-family:Verdana, Geneva, sans-serif; padding-left:5px;}
.item_b h2 .more { float:right; padding-right:10px; color:#6e777c; font-size:12px; font-weight:normal; font-family:宋体;}
.item_b .main { padding:5px 10px;}

.item_c { border:1px solid #c3ddf4; padding:1px;}
.item_c .title { background:url(10010.gif) repeat-x; height:24px; overflow:hidden; zoom:1; clear:both; padding-top:4px;}
.item_c .title .title_left { width:5px;}
.item_c .title .title_name { background:#ffffff; border:1px solid #75a9d9; border-bottom:none; padding:0px 8px; margin-left:10px; color:#0067b5; font-size:14px; font-weight:bold; font-family:微软雅黑; height:24px; line-height:24px; width:60px;}
.item_c .title .title_text { color:#ffffff; font-size:10px; font-weight:normal; font-family:Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none; padding-left:5px;}



.header { background:url(header_background.jpg) no-repeat; height:115px; padding:0px 20px; overflow:hidden; _zoom:1; clear:both;}
.header .collect { text-align:right;}
.header .collect a:link { text-decoration:none; color:#224363;}
.header .collect a:visited { text-decoration:none; color:#224363;}
.header .collect a:hover { text-decoration:underline; color:#224363;}
.header .collect a:active { text-decoration:underline; color:#224363;}
.header .collect span { padding:0px 5px; font-family:宋体, Verdana, Geneva, sans-serif;}
.header a:link { text-decoration:none; color:#4E4A49;}
.header a:visited { text-decoration:none; color:#4E4A49;}
.header a:hover { text-decoration:underline; color:#ff6600;}
.header a:active { text-decoration:underline; color:#ff6600;}

.nav { padding:0px; margin:0px; margin-bottom:5px; border-bottom:3px solid #dcdcdc; list-style:none; background:url(nav_background.gif) repeat-x; height:40px; overflow:hidden; _zoom:1; clear:both;}
.nav li { float:left; clear:right; width:90px; height:40px; line-height:40px; text-align:center; color:#FFFFFF; font-size:14px; font-weight:bold; font-family:微软雅黑,Verdana, Geneva, sans-serif; -moz-text-shadow:2px 2px 2px #666666; -webkit-text-shadow:2px 2px 2px #666666; text-shadow:2px 2px 2px #666666;}
.nav li.lefts { width:10px;}
.nav li.lists { }
.nav li.lists a { color:#FFFFFF; text-decoration:none; padding:5px; overflow:hidden; display:inline;}
.nav li.hover { }
.nav li.hover a { color:#FFFFFF; text-decoration:none; padding:5px; overflow:hidden; display:inline;}
.nav li.separ { background:url(nav_background_separ.gif) center no-repeat; width:10px;}
.nav li.right { width:auto; float:right; padding-right:20px; font-size:12px; }

.ad_a, .ad_b { margin-bottom:10px;}
.ad_a, .ad_b img {}

.MasterDrawUnActiveStyle { background-image: url(10009.gif); width: 70px; height: 23px; cursor: pointer; color: #ffffff; font-size: 13px; }
.MasterDrawActiveStyle { background-image: url(10008.gif); width: 70px; height: 23px; cursor: pointer; color: #194baa; font-size: 13px; }

.link { border:1px solid #c3ddf4; border-top:3px solid #c3ddf4; background:url(link_background.gif) top repeat-x; padding:10px; color:#555555;}
.link a:link { text-decoration:none; color:#555555;}
.link a:visited { text-decoration:none; color:#555555;}
.link a:hover { text-decoration:underline; color:#660000;}
.link a:active { text-decoration:underline; color:#660000;}
.link span { padding:0px 6px; font-size:12px; font-weight:normal; -webkit-text-size-adjust:none;}

.footer { background:url(footer_background.gif) top repeat-x; overflow:hidden; _zoom:1; clear:both;}
.footer li { height:25px; line-height:25px; text-align:center; color:#FFFFFF;}
.footer li span { padding:0px 8px;}
.footer li a:link { text-decoration:none; color:#FFFFFF;}
.footer li a:visited { text-decoration:none; color:#FFFFFF;}
.footer li a:hover { text-decoration:underline; color:#600;}
.footer li a:active { text-decoration:underline; color:#600;}
.footer li.copy { height:auto; text-align:center; padding:20px 0px 30px 0px; line-height:25px; color:#454545;}

.location { border:1px solid #eeeeee; height:30px; line-height:30px; padding:0px 14px; margin-bottom:10px; overflow:hidden; _zoom:1; clear:both;}
.location li { float:left; color:#333; }
.location li.name { background:url(location_icon.gif) left center no-repeat; padding-left:15px; _padding-top:2px; +padding-top:2px; padding-top:2px\9; display:inline-block; overflow:hidden; zoom:1;}
.location li.name span { padding:0px 5px; color:#999999; font-family:宋体;}
.location li.more { float:right; padding-top:5px;}


/*----------*/
.home_list { border-bottom:0px dashed #e5e5e5; color:#8f8d8e; font-size:12px; font-weight:normal;}
.home_list a:link { text-decoration:none; color:#343434; font-size:12px; font-weight:normal;}
.home_list a:visited { text-decoration:none; color:#343434; font-size:12px; font-weight:normal;}
.home_list a:hover { text-decoration:none; color:#ff0101; font-size:12px; font-weight:normal;}
.home_list a:active { text-decoration:none; color:#ff0101; font-size:12px; font-weight:normal;}

.home_list_border { border-bottom:1px dashed #e5e5e5; color:#8f8d8e; font-size:12px; font-weight:normal;}
.home_list_border a:link { text-decoration:none; color:#343434; font-size:12px; font-weight:normal;}
.home_list_border a:visited { text-decoration:none; color:#343434; font-size:12px; font-weight:normal;}
.home_list_border a:hover { text-decoration:none; color:#ff0101; font-size:12px; font-weight:normal;}
.home_list_border a:active { text-decoration:none; color:#ff0101; font-size:12px; font-weight:normal;}

.news_list { cursor:pointer; border-bottom:1px dashed #dddddd; line-height:28px; padding:2px 0px;}
.news_list .list_l { float:left;}
.news_list .list_l .img { border:1px solid #cccccc; padding:4px; background:#ffffff; width:88px; height:65px;}
.news_list .list_l .img img { border:0px; width:88px; height:65px; background:#eeeeee;}
.news_list .list_l .img_hover { border:1px solid #666666; padding:4px; background:#dddddd; width:88px; height:65px;}
.news_list .list_l .img_hover img { border:0px; width:88px; height:65px; background:#eeeeee;}
.news_list .list_r { float:left; padding-left:10px;}
.news_list a:link { text-decoration:none; color:#333; font-size:12px;}
.news_list a:visited { text-decoration:none; color:#333; font-size:12px;}
.news_list a:hover { text-decoration:none; color:#f60; font-size:12px;}
.news_list a:active { text-decoration:none; color:#f60; font-size:12px;}
/*----------*/


/*网站前台分页样式开始*/
.common_page { margin:0px auto; padding:5px 5px; background:#FCFCFC; border:1px solid #EEEEEE; overflow:hidden; zoon:1;}
.common_page ul { margin:0px; padding:0px; list-style:none; height:20px; line-height:20px; color:#999999; font-size:12px; font-family:Verdana,Arial,Helvetica,sans-serif;}
.common_page ul li { float:left; padding:0px 5px 0px 5px; margin-right:2px; height:20px; line-height:20px; background:#F5F5F5; border:1px solid #E5E5E5;}
.common_page ul li a { color:#999999; text-decoration:none;}
.common_page ul li.hover { background:#0067B6; border:1px solid #0067B6; color:#FFFFFF; font-weight:bold; cursor:pointer;}
.common_page ul li.hover a { color:#FFFFFF; text-decoration:none;}
.common_page ul li.texts { }
.common_page ul li.texts span { color:#0067B6; font-weight:bold;}
.common_page ul li.gotos { margin-right:0px; padding-right:0px;}
.common_page ul li.gotos input { background:#EEEEEE; border:0px solid #E5E5E5; border-left:1px solid #E5E5E5; width:25px; height:20px; line-height:20px; color:#999999; text-align:center;}
/*网站前台分页样式结束*/

/*留言反馈页面样式开始*/
.front_input { background:#fff; border:1px solid #ddd; height:20px; line-height:20px; color:#72674c; padding:0px 5px 0px 5px; margin:5px 5px; vertical-align:middle;}
.front_radio { margin:5px 5px 5px 5px;}
.front_button { background:#017347; border:1px solid #015c39; font-size:14px; font-weight:bold; color:#ffffff; text-align:center; height:24px; line-height:24px; padding:0px 10px; margin:5px 5px; vertical-align:middle;}
.front_textarea { background:#fff; border:1px solid #ddd; color:#72674c; margin:5px 5px; vertical-align:middle;}
/*留言反馈页面样式结束*/